.header {
  position: relative;
  max-width: 1000px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  &__wrap {
    height: 80px;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__nav-list {
    display: flex;
  }
  &__nav-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 32px;
    margin-left: 37px;
    color: #73738d;
    padding: 20px 0;
    transition: 0.3s;
    &:hover {
      color: #1943ef;
    }
    &-active {
      margin-left: 27px;
      width: 118px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border: 1px solid #1943ef;
      border-radius: 33px;
      margin-top: -2px;
      padding: 8px 22px;
      color: #1943ef;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #1943ef;
        color: white;
      }
    }
  }
}

.header__decoration {
  top: -20px;
  left: 30%;
}

.decoration {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f26a36;
  & div {
    position: relative;
    right: -13px;
    top: 13px;
    width: 34px;
    height: 34px;
    background: white;
    border-radius: 50%;
  }
}

.mobile {
  display: none;
  position: absolute;
  margin: 0 auto;
  padding: 20px;
  background-color: #f26a36;
  border-radius: 20px;
  z-index: 20;
  transition: 0.3s;
  transform: translateY(-500%);
  &__active {
    transform: translateY(160px);
  }
  &__menu {
    display: none;
  }
  &__nav-link-active {
    border: 1px solid white;
    padding: 5px;
    border-radius: 8px;
  }
  &__nav-link,
  &__nav-link-active {
    line-height: 40px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }
}

@media screen and (max-width: 850px) {
  .mobile {
    display: inline-block;
    &__menu {
      display: inline-block;
    }
  }
  .header {
    &__wrap {
      max-width: 90%;
    }
    &__nav {
      display: none;
    }
    &__decoration {
      left: 50%;
    }
  }
}
